@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="text-4xl font-bold text-cyan-400">
        Retrotech Emporium
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="text-cyan-400 text-2xl">
        Tailwind Test
    </p>
</div>
